@import 'tailwindcss';
@import './tokens.css';
@import './theme.css';

/* expose cho Tailwind */
@theme {
  /* colors */
  --color-bg-base: var(--color-bg-base);
  --color-bg-surface: var(--color-bg-surface);

  --color-text-primary: var(--color-text-primary);
  --color-text-secondary: var(--color-text-secondary);
  --color-text-tertiary: var(--color-text-tertiary);
  --color-text-disabled: var(--color-text-disabled);
  --color-text-on-accent: var(--color-text-on-accent);

  --color-accent: var(--color-accent);
  --color-accent-alt: var(--color-accent-alt);

  --color-border-default: var(--color-border-default);
  --color-border-subtle: var(--color-border-subtle);

  --color-disabled: var(--color-disabled);

  --color-overlay-dark-70: var(--color-overlay-dark-70);
  --color-overlay-dark-50: var(--color-overlay-dark-50);
  --color-overlay-dark-30: var(--color-overlay-dark-30);
  --color-overlay-dark-10: var(--color-overlay-dark-10);
  --color-overlay-light-70: var(--color-overlay-light-70);
  --color-overlay-light-50: var(--color-overlay-light-50);
  --color-overlay-light-30: var(--color-overlay-light-30);
  --color-overlay-light-10: var(--color-overlay-light-10);

  /* fonts */
  --font-body: var(--font-body);
  --font-brand: var(--font-brand);

  /* admin colors */
  --color-bg-admin-base: var(--color-bg-admin-base);
  --color-bg-admin-sidebar: var(--color-bg-admin-sidebar);
  --color-bg-admin-topbar: var(--color-bg-admin-topbar);

  --color-text-admin-primary: var(--color-text-admin-primary);
  --color-text-admin-secondary: var(--color-text-admin-secondary);
  --color-text-admin-tertiary: var(--color-text-admin-tertiary);
  --color-text-admin-disabled: var(--color-text-admin-disabled);

  --color-text-on-admin-topbar: var(--color-text-on-admin-topbar);

  --color-border-admin-default: var(--color-border-admin-default);
  --color-border-admin-subtle: var(--color-border-admin-subtle);
}

@utility text-display {
  font-size: var(--text-display-size);
  font-weight: var(--text-display-weight);
  line-height: var(--text-display-line);
}

@utility text-title {
  font-size: var(--text-title-size);
  font-weight: var(--text-title-weight);
  line-height: var(--text-title-line);
}

@utility text-brand {
  font-size: var(--text-brand-size);
  font-weight: var(--text-brand-weight);
  line-height: var(--text-brand-line);
}

@utility text-body {
  font-size: var(--text-body-size);
  font-weight: var(--text-body-weight);
  line-height: var(--text-body-line);
}

@utility text-caption {
  font-size: var(--text-caption-size);
  font-weight: var(--text-caption-weight);
  line-height: var(--text-caption-line);
}
body {
  font-family: var(--font-body);
}
button {
  cursor: pointer;
}
button:focus-visible {
  outline: 2px solid var(--color-accent);
  outline-offset: 2px;
}
html,
body {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}
